* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #d1d1d1;
    text-align: center;
}

a {
    text-decoration: none;
    height: 100%;
}

.header {
    display: flex;
    height: 10vh;
    justify-content: space-evenly;
    background-color: #222;
    align-items: center;

}

#github {
  font-size: 3.2vw;
}

button {
    text-align: center;
    background-color: #222;
    padding: 1vw;
    font-size: 2vw;
    color: rgb(77, 102, 100);
    transition: .3s;
    height: 100%;;
}

.header button {
  width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    align-items: center;
}

button:hover {
    background-color: rgb(77, 102, 100);
    color: #222
}

#arrayCont {
    display: flex;
    height: 70vh;
    width: 90vw;
    transform: rotateX(180deg);
}

.bars {
    height: 100%;
    width: 100vw;
    margin-left: 1px;
    background-color: rgb(77, 102, 100);
}

.bars:hover{
  background-color: goldenrod;
}

#sliderCont{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.slider {
    -webkit-appearance: none;
    width: 25vw;
    height: 15px;
    border-radius: 5px;  
    background: #222;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(77, 102, 100);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(77, 102, 100);
    cursor: pointer;
  }

  .box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .sliderVal {
    position: relative;
    font-size: 4vw;
    font-weight: 500;
    width: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(77, 102, 100);
    text-align: center;
  }

  .timerVal {
    font-size: 4vw;
    font-weight: 500;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(77, 102, 100);
    text-align: center;
  }

  #stop {
    width: 15%;
    font-size: auto;
  }

  #StepOn {
    width: 15%;
    font-size: auto;
  }

  #Step{
    width: 15%;
    font-size: auto;
    display: none;
  }


@media screen and (max-width: 600px){

  button {
    font-size: 3.5vw;
  }

  #github {
    font-size: 5vw;
  }
  
}